extend layout
block content
  form(method='post', action='/usersearch')
                | Enter the username you would like to lookup
                div
                    input(type='text', name='search')
                    input(type='submit', value='Search!')